@{
    ViewBag.Title = "Email";
    ViewBag.Message = "This is the Email page";
}
<div class="row">
    <div class="col-sm-12">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
    </div>
</div>

<p>Use this area to provide additional information.</p>
