@{
    ViewBag.Title = "Map";
    ViewBag.Message = "This is the Map page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-sm-12">
        <address>
            School1<br />
            School1<br />
            <abbr title="Phone">P:</abbr>
            School1
        </address>

        <address>
            <strong>z</strong>   <a href="mailto:Support@example.com">z</a><br />
            <strong>z:</strong> <a href="mailto:Marketing@example.com">z</a>
        </address>
    </div>
</div>